

<ion-content>

    <ion-grid>
        <ion-row class="customRowDesign">
          <ion-col>
            <div class="wrapper">
              <div class="pie spinner"></div>
              <div class="pie filler"></div>
              <div class="mask"></div>
            </div>

          </ion-col>

        </ion-row>

        <p id="demo" class="countdown_timer"></p>

        <ion-row class="customTimer">

          <ion-col>

        <h3 class="continue_text" (click)="continue_()">Continue</h3>
            </ion-col>
        </ion-row>

        </ion-grid>

        <!-- extra packages -->
        <!-- npm app version
        app cordova version
        cordova fb login
        npm fb
        ng4 timer -->

</ion-content>



<ion-footer>
  <ion-toolbar class="footer">
 
    <img src="../../assets/fb_icon.png" class="icon_" (click)="socialFb()" alt="social_media_icon">
    <img src="../../assets/google_icon.png" class="icon_" alt="social_media_icon">
 
    <img src="../../assets/linkedin_icon.png" class="icon_" alt="social_media_icon">
 
    <img src="../../assets/twitter_icon.png" class="icon_" alt="social_media_icon">
 
  </ion-toolbar>
</ion-footer>

