img.start-png {
    height: 118px;
    padding: -1px;
}



.customRowDesign {
    text-align: center !important;
    border: 10px solid #383a3e !important;
    margin: 10px;
}

img.start-png {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.inputBox {
    padding: 20px;
}

ion-row.login-intro.ios.hydrated {
    margin-top: 50px;
    margin-bottom: 50px;
}