.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

img.icon_ {
  height: 42px;
  margin: 10px;
}


img.start-png {
  height: 40px;
}

.bg {
  background: aliceblue;
  padding: 10px;
}

ul.Ul_custom {
  list-style-type: none;
}

p.About {
  background: #006aff;
  padding: 10px;
  color: white;
  font-family: Gotham;
  font-weight: bold;
  margin-bottom: -1px;
}

ion-row.ImgBanner.md.hydrated {
  text-align: center;
}

ion-row.Count_row.md.hydrated {
  text-align: center;
}

ion-col.CustomLinks.md.hydrated {
  border-top: 1px solid  #006aff;
}

li.link__ {
  margin-bottom: 6px;
  color: gray;
  font-family: Gotham;
  text-decoration: underline;
}

li.link__:hover{
  color: #006aff;
}

ion-row.startRow.md.hydrated {
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(0,106,255,1) 100%);
}

ion-row.startRow.md.hydrated {
  text-align: center;
  margin-bottom: 20px;
  border-top: 1px solid #006aff;
}

p.sub_title {
  font-family: Gotham;
  color: antiquewhite;
  font-size: 38px;
}

img.img_ico {
  height: 129px;
}

ion-row.row_ico_icons.md.hydrated {
  text-align: center;
}

